{% extends "base.html" %}

{% block title %}{{ product['name'] }}{% endblock %}

{% block content %}
  <h1>{{ product['name'] }}</h1>
  <p>{{ product['description'] }}</p>
  <p>Price: {{ product['price'] }}$</p>
  {% if session['username'] %}
    <form method="post" action="{{ url_for('add_to_cart', id=product['id']) }}">
      <label>Quantity:</label>
      <input type="number" name="quantity" value="1" min="1" max="10">
      <input type="submit" value="Add to cart">
    </form>
  {% endif %}
{% endblock %}
